data/riboseq_*/*
data/rnaseq_*/*
reference_genome
orfrater_analysis*
price_analysis
.Rhistory
diff_translation_analysis
gmap*
alignment_tracks
periodicity_analysis
ribotricer*
uORF_analysis
sORF_sequence_analysis 
hmmscan
results
script_backup
amino_acid_analysis
microprotein_blast
pausing_analysis
.gitignore