data/riboseq_*/*
data/rnaseq_*/*
data/preproccessed*
reference_genome
orfrater_analysis*
.Rhistory
alignment_tracks
periodicity_analysis
script_backup
results/read_counts
results/sec*
results/r_scripts/*html
results/r_scripts/*Rproj
amino_acid_analysis
.gitignore  
.Rproj.user
r_bookdown
plastid_reference
quantitation
rpf_psite_analysis
orf_lists
proteomics_db
results/r_scripts/read_length.txt